# ==========================
# STM32 + VSCode + CMake 必备忽略
# ==========================
.settings/
build/
.vscode/
cmake/
cmake-build-debug/
cmake-build-release/
CMakeFiles/
*.cmake
Makefile
*.o
*.d
*.elf
*.bin
*.hex
*.map

# 你的工程无关目录
FM225/FM225/x64
FM225/FM225/.vs

# 其他缓存
.vs/
*.tlog
*.user
.DS_Store