# ==========================
# STM32 + VSCode + CMake 必备忽略
# ==========================
build/
.vscode/.cache
.vscode/ipch
cmake-build-debug/
cmake-build-release/
CMakeFiles/
*.cmake
Makefile
*.o
*.d
*.elf
*.bin
*.hex
*.map

# 其他缓存
.vs/
*.tlog
*.user
.DS_Store